@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-display: swap;
}

header {
    padding: 1.33rem;
}

nav {
    height: 3rem;
    display: flex;
}

#nav-section1 {
    display: flex;
    align-items: center;
    justify-items: center;
    margin-right: auto;
}

#nav-section2 {
    display: flex;
    align-items: center;
    justify-items: center;
}

#button-login {
    background-color: white;
    border-width: 0.05rem;
    height: 2rem;
    padding: 1rem;
    border-radius: 4rem;
    font-weight: 700;
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#button-login:hover {
    color: gray;
    border-color: gray;
    cursor: pointer;
}

#button-join {
    background-color: black;
    color: white;
    border-width: 0;
    height: 2rem;
    padding: 1rem;
    border-radius: 4rem;
    font-weight: 700;
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#button-join:hover {
    background-color: gray;
    cursor: pointer;
}

#banner-button {
    background-color: #dc3545;
    color: white;
    border-style: solid;
    border-color: white;
    border-width: 0.05rem;
    height: 2rem;
    width: 8rem;
    padding: 1rem;
    border-radius: 4rem;
    font-weight: 600;
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#banner-button:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.1)
}

.a-nav {
    color: black;
    text-decoration: none;
    font-weight: 700;
    margin: 2rem;
}

.a-nav:hover {
    color: #1e3932;
    border: 0.25rem;
    border-style: solid;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-color: #1e3932;
    padding: 2rem 0 2rem 0;
    margin: 0 2rem 0 2rem;
}

#a-ubi {
    color: black;
    text-decoration: none;
    font-weight: 700;
    margin: 1rem;
    margin-left: 0;
}

#a-ubi:hover {
    color: gray;
}

#ubi {
    height: 30px;
    margin-right: 0;
}

#logo {
    height: 3.5rem;
    margin: 1rem;
}

.banner {
    color: white;
    display: flex;
    font-size: 1.2rem;
    height: 60vh;
    margin-bottom: 2rem;
}

#banner1 {
    background-color: #1e3932;
}

#banner2 {
    flex-direction: row-reverse;
    background-color: #007bff;
}

#banner3 {
    background-color: #dc3545;
}

#banner4 {
    background-color: #1e3932;
    flex-direction: row-reverse;
}

#banner5 {
    background-color: #dc3545;
}

.text-banner {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 5rem;
}

.text-banner h1 {
    margin: 0;
}

.text-banner p {
    font-weight: 500;
}

.img-banner {
    width: 50vw;
}

/* posters */

.posters {
    display: flex;
    flex-direction: row;
    width: 50vw;
    height: 100vh;
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 2rem;
}

.img-poster {
    width: 48vw;
    height: 70vh;
}

.poster-button:hover {
    cursor: pointer;
}

/* poster-red */

#poster-red {
    color: #dc3545;
    background-color: pink;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 2rem;
}

#poster-red-button {
    color: #dc3545;
    background-color: pink;
    border-color: #dc3545;
    border-width: 0.05rem;
    border-radius: 4rem;
    font-weight: 600;
    padding: 0.5rem 1rem 0.5rem 1rem;
}

/* poster-blue */

#poster-blue {
    color: rgb(0, 0, 134);
    background-color: lightskyblue;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#poster-blue-button {
    color: rgb(0, 0, 134);
    background-color: lightskyblue;
    border-color: rgb(0, 0, 134);
    border-width: 0.05rem;
    border-radius: 4rem;
    font-weight: 600;
    padding: 0.5rem 1rem 0.5rem 1rem;
}

/* footer */

/* footer-section-1 */

#footer-section-1 {
    display: flex;
    border: 0.05rem solid lightgray;
    border-width: 0 0 0.05rem 0;
    margin: 1rem;
}

.footer-ul-1 {
    list-style: none;
    padding: 0;
}

.footer-ul-1 li {
    margin-bottom: 1rem;
}

.footer-ul-1 a {
    text-decoration: none;
    color: gray;
}

.footer-ul-1 a:hover {
    color: black;
}

.footer-nav {
    height: auto;
}

.footer-subsection {
    margin: 1rem;
}

/* footer-section-2 */

#footer-section-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin-bottom: 1rem;
    color: gray;
}

#footer-p-2 {
    font-size: 0.9rem;
}

#footer-p-2 {
    font-size: 0.7rem;
}

#footer-nav-2 {
    margin: 1rem;
}

.footer-ul {
    display: flex;
    align-items: center;
}

.footer-ul li {
    list-style: none;
    padding: 0;
    margin: 1rem;
}

.footer-ul li:hover {
    cursor: pointer;
    color: black;
}

#footer-section-2 p {
    padding: 0;
    margin: 0;
}