@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    padding: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-display: swap;
}

/* header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    box-shadow: 1px 0 0.5rem 0 lightgray;
    background-color: white;
}

#logo-img {
    height: auto;
    width: 4vw;
    padding: 1rem;
}

#ubication-img {
    width: 2vw;
    height: auto;
}

.header-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
}

#a-ubication {
    padding-left: 0;
}

#a-ubication:hover {
    margin-left: 0;
}

.header-section a {
    text-decoration: none;
    color: black;
    padding: 2rem 1rem 2rem 1rem;
}

.header-section a:hover {
    color: green;
    padding: 2rem 0 1.75rem 0;
    margin: 0 1rem 0 1rem;
    border: 0.25rem solid green;
    border-top: 0;
    border-right: 0;
    border-left: 0;
}

#selected-page {
    padding: 2rem 0 1.75rem 0;
    margin: 0 1rem 0 1rem;
    border: 0.25rem solid green;
    border-top: 0;
    border-right: 0;
    border-left: 0;
}

button {
    padding: 0.5rem;
    margin: 1rem;
    border-radius: 4rem;
    font-weight: bold;
    border: 1px solid black;
}

button:hover {
    cursor: pointer;
}

.login-button {
    color: black;
    background-color: white;
}

.login-button:hover {
    background-color: lightgray;
}

.join-button {
    color: white;
    background-color: black;
    margin-left: 0;
}

.join-button:hover {
    background-color: lightgray;
}

/* banners */

.banner {
    color: white;
    display: flex;
    font-size: 1.2rem;
    height: 60vh;
    margin-bottom: 2rem;
}

#banner1 {
    background-color: #1e3932;
}

#banner2 {
    flex-direction: row-reverse;
    background-color: #007bff;
}

#banner3 {
    background-color: #dc3545;
}

#banner4 {
    background-color: #1e3932;
    flex-direction: row-reverse;
}

#banner5 {
    background-color: #dc3545;
}

.text-banner {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 5rem;
}

.text-banner h1 {
    margin: 0;
}

.text-banner p {
    font-weight: 500;
}

.img-banner {
    width: 50vw;
}

/* posters */

.posters {
    display: flex;
    justify-content: space-between;
    padding-bottom: 2rem;
    border-bottom: 1px solid lightgray;
    box-shadow: 0 1px 10px lightgrey;
}

.poster {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 48.5vw;
    font-weight: 600;
}

#red-poster {
    color: #dc3545;
}

.img-poster {
    height: auto;
    max-width: 100%;
}

.text-poster {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 15vw;
    margin: 2rem;
}

#text-poster-blue {
    width: 10vw;
}

#red-poster {
    background-color: pink;
}

#blue-poster {
    background-color: lightskyblue;
}

.poster-button {
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 3rem;
    border: 1px solid;
    font-weight: 600;
    font-size: 1rem;
}

.poster-button:hover {
    cursor: pointer;
}

#poster-red-button {
    color: #dc3545;
    background-color: pink;
}

#poster-blue-button {
    color: rgb(0, 0, 150);
    background-color: lightskyblue;
}

/* footer */

/* footer-section-1 */

#footer-section-1 {
    display: flex;
    border: 0.05rem solid lightgray;
    border-width: 0 0 0.05rem 0;
    margin: 1rem;
}

.footer-ul-1 {
    list-style: none;
    padding: 0;
}

.footer-ul-1 li {
    margin-bottom: 1rem;
}

.footer-ul-1 a {
    text-decoration: none;
    color: gray;
}

.footer-ul-1 a:hover {
    color: black;
}

.footer-nav {
    height: auto;
}

.footer-subsection {
    margin: 1rem;
}

/* footer-section-2 */

#footer-section-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin-bottom: 1rem;
    color: gray;
}

#footer-p-2 {
    font-size: 0.9rem;
}

#footer-p-2 {
    font-size: 0.7rem;
}

#footer-nav-2 {
    margin: 1rem;
}

.footer-ul {
    display: flex;
    align-items: center;
}

.footer-ul li {
    list-style: none;
    padding: 0;
    margin: 1rem;
}

.footer-ul li:hover {
    cursor: pointer;
    color: black;
}

#footer-section-2 p {
    padding: 0;
    margin: 0;
}